body {
    background-color: yellowgreen;
}
h1 {font-size: 80px; color: teal;}
h2 {
    font-size: 40; color: blue;
}
li {
    color: cornsilk; font-size: 22px;}
a {
        font-size: 30px; text-decoration: none;
    }

    img {border: 3px solid black;
        margin: auto;
        display: block;
        border-radius: 400px;
    
    }
        
