h1 {
    
}
.a {
    font-size: 35px;
    box-shadow: lawngreen 1px 1px 1px ;

}
.a:link {
    color : gold ;

}
.a :hover{
    background-color: gold;
    color : gold ;

} 
.a :visited {
    color: indigo;
}